.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
}

.DashboardContainer {
  padding: 10px;
  max-width: 600px;
  justify-content: center;
}

.Title {
  text-align: center;
  margin-bottom: 15px;
}

.SubTitle {
  margin-bottom: 15px;
}

.DataCards {
  display: inline-block;
  
  overflow-x: auto;
  overflow-y: hidden;

  justify-content: space-between;
  white-space: nowrap;
  width: 90%;
  height: 150px;

  margin-bottom: 15px;
}

.DataCards::-webkit-scrollbar {
  display: none;
}

.Card {
  display: inline-block;
  width: 170px;
  height: 95%;

  margin: 2px 5px;
}
